<section class="top-section">
    <div class="top-content-container">
        <div class="nav-and-title-container">
            <div class="title">loopstudios</div>
            <nav class="top-section-nav-bar">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </nav>
        </div>
        <div class="tag-line">IMMERSIVE EXPERIENCES THAT DELIVERS</div>
    </div>
    <div class="overlay"></div>
</section>

<section class="bottom-section">
    <div class="bottom-content-container">
        <div class="vr-guy-container">
            <div class="vr-guy-image-container">
                <img src="../../../assets/images/desktop/image-interactive.jpg" alt="" srcset="">
            </div>
            <div class="vr-guy-text-container">
                <h2 class="vr-guy-title">THE LEADER IN INTERACTIVE VR</h2>
                <p class="vr-guy-para">
                    Founded in 2011, Loopstudios has been producing world-class
                    virtual reality projects for some of the best companies around the
                    globe. Our award-winning creations have transformed
                    businesses through digital experiences that bind to their brand.
                </p>
            </div>
        </div>
    </div>
    <section class="our-creations-section">
        <div class="our-creations-top-container">
            <div class="our-creations-title">
                OUR CREATIONS
            </div>
            <button class="see-all-btn">SEE ALL</button>
        </div>
    </section>
</section>