.top-section {
    height: 650px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    padding: 5rem 8rem;
}

.top-section-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.top-content-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.nav-and-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-section-nav-bar>ul {
    display: flex;
    gap: 1.5rem;
}

.top-section-nav-bar>ul>li>a {
    color: white;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
}

.top-section-nav-bar>ul>li {
    list-style: none;
}

.title {
    font-size: 1.75rem;
    font-weight: bolder;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.tag-line {
    color: white;
    border: 2px solid white;
    width: 15ch;
    font-size: 4rem;
    padding: 2.5rem;
    margin-top: 4rem;
    font-family: 'Josefin Sans', sans-serif;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.bottom-section {
    padding: 9rem;
}

.bottom-content-container {
    height: 100%;
}

.vr-guy-container {
    position: relative;
}

.vr-guy-text-container {
    position: absolute;
    background-color: white;
    right: 2%;
    bottom: 0;
    width: 75ch;
    padding-left: 7rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
}

.vr-guy-image-container {
    width: 65%;
}

.vr-guy-image-container>img {
    width: 100%;
}

.vr-guy-title {
    font-size: 3.5rem;
    font-weight: 100;
    font-family: 'Josefin Sans', sans-serif;
}

.vr-guy-para {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25rem;
}

.our-creations-section {
    margin-top: 8rem;
}

.our-creations-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-creations-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
}

.see-all-btn {
    background: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25rem;
    padding: 1rem 2.25rem;
    outline: none;
    cursor: pointer;
    border: 1px solid black;
    font-weight: bold;
    transition: background-color 200ms ease, color 200ms ease;
}

.see-all-btn:hover {
    background-color: black;
    color: white;
}

.cards-section {
    margin-top: 3rem;
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.card {
    position: relative;
    height: max-content;
    width: max-content;
    cursor: pointer;
}

.card-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    width: 9ch;
    color: white;
    position: absolute;
    bottom: 7.5%;
    left: 15%;
    z-index: 1;
}

.card-overlay {
    height: 99%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 400ms ease;
}

.card-overlay:hover {
    background-color: transparent;
}

footer {
    background-color: black;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8rem;
    gap: 2rem;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-title {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
}

.footer-ul {
    display: flex;
    gap: 2rem;
}

.footer-ul>li {
    list-style: none;
    cursor: pointer;
}

.footer-ul>li>a {
    text-decoration: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.footer-description {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}