<section class="top-section">
    <div class="top-content-conatiner">
        <div class="nav-and-title-container">
            <div class="title">loopstudios</div>
            <nav class="top-section-nav-bar">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </nav>
        </div>
        <div class="tag-line">IMMERSIVE EXPERIENCES THAT DELIVERS</div>
    </div>
</section>